* {
  font-family: sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
}

.section {
  display: none;
}
.active {
  display: block;
}

th {
  font-weight: normal;
}

ul {
  list-style: none;
}

.hide {
  display: none;
}

.btn {
  --bs-btn-border-radius: 0;
}
.container-fluid {
  padding: 0;
}

.btnRemoveDecoration {
  border: none;
  background: none;
  text-decoration: none;
}

/* Home Page */
.home-navbar {
  background-color: rgba(42, 59, 79, 255);
  padding-left: 5vw;
  padding-right: 5vw;
}

.custom-btn-home {
  border: none;
  color: white;
  background-color: rgba(42, 59, 79, 255);
  text-decoration: none;
}

.body-home {
  background-color: rgba(25, 188, 157, 255);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.star-icon-home {
  padding-left: 1vw;
  padding-right: 1vw;
}

.title-home {
  font-size: 70px;
}

.bodyHome-footer {
  background-color: rgba(42, 59, 79, 255);
  padding-top: 4.35vh;
  padding-bottom: 4.35vh;
}

/* Admin Login Page */
.body-adminLogin {
  background-color: rgba(51, 56, 65, 255);
}

.formContainer-adminLogin {
  width: 33vw;
}

/* User Login Page Css */
.body-userLogin {
  background-color: rgba(51, 56, 65, 255);
}

.formContainer-userLogin {
  width: 33vw;
}

/* Dashboard Admin Page */
.adminSidebar {
  width: 280px;
}

.siderbarTitle {
  color: rgba(1, 194, 148, 255);
  font-weight: 900;
}

.navElement:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;

  --bs-text-opacity: 1;
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

.dashboard-background {
  background-color: rgba(240, 241, 246, 255);
}

.sidebarNav {
  height: 91%;
}

.greenColorDashboardElement {
  color: rgba(54, 192, 161, 255);
}

.purpleColorDashboardElement {
  color: rgba(170, 151, 207, 255);
}

.blueColorDashboardElement {
  color: rgba(7, 161, 232, 255);
}

.orangeColorDashboardElement {
  color: rgba(252, 146, 120, 255);
}

.customColDashboard {
  flex: 0 0 auto;
  width: 21%;
}

.customColFooterDashboard {
  flex: 0 0 auto;
  width: 93%;
}

.customMarginFooterDashboard {
  margin-left: 11rem !important;
}

.customHeightDashboard {
  height: 60% !important;
}

/* Vehicle Add Category */
.customMarginLabelVehicleAddCategory {
  margin-right: 15rem !important;
}

.customColVehicleAddCategory {
  flex: 0 0 auto;
  width: 93%;
}

/* Vehicle Manage Category */
.customHeightVehicleManageCategory {
  height: 91% !important;
}

.customFooterHeightVehicleManageCateogry {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 20rem;
}

/* Add Vehicle */
select {
  height: 34px;
}

.customHeightAddVehicle {
  height: 91% !important;
}

.customMarginLabelAddVehicle {
  margin-right: 15rem !important;
}

table.table-fitAddVehicle {
  width: 100% !important;
  table-layout: auto !important;
}
table.table-fitAddVehicle thead th {
  width: 25% !important;
}
table.table-fitAddVehicle tbody td {
  width: 75% !important;
}

/* View Vehicle */
table.table-fitViewVehicle {
  width: 100% !important;
  table-layout: auto !important;
}
table.table-fitViewVehicle thead th {
  width: 50% !important;
}
table.table-fitViewVehicle tbody td {
  width: 50% !important;
}

table.table-fitUpdateViewVehicle {
  width: 100% !important;
  table-layout: auto !important;
}
table.table-fitUpdateViewVehicle thead th {
  width: 40% !important;
}
table.table-fitUpdateViewVehicle tbody td {
  width: 60% !important;
}

/* Search Vehicle */
.customHeightSearchVehicle{
  height: 70% !important;
}