* {
  font-family: sans-serif;
}

.section {
  display: none;
}
.active {
  display: block;
}

ul {
  list-style: none;
}

.hide {
  display: none;
}

.home-navbar {
  background-color: rgba(42, 59, 79, 255);
  padding-left: 5vw;
  padding-right: 5vw;
}

.custom-btn-home {
  border: none;
  color: white;
  background-color: rgba(42, 59, 79, 255);
  text-decoration: none;
}

.body-home {
  background-color: rgba(25, 188, 157, 255);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.star-icon-home{
  padding-left: 1vw;
  padding-right: 1vw;
}

.title-home{
  font-size: 70px;
}

.body-footer{
  background-color: rgba(42, 59, 79, 255);
  padding-top: 5vh;
  padding-bottom: 5vh;
}